.content{
  display: flex;
  justify-content: center;
}

.description{
  color: rgb(56, 51, 51);
  padding: 10px;
  margin: 10px;
  text-align: left;
}

.content-post :hover{ 
  text-decoration: none;
}

.post-item{
  padding-top: 30px;
  width: 70%;
  text-align: center;
}

.title{
  text-decoration: none;
  padding: 20px 10px;
  background-color: rgb(49, 47, 47);
  color: white;
  display: flex;
  justify-content: space-between;
}

.image{
  max-height: 100px;
  border-radius: 10px;
}