.content{
  display: flex;
  justify-content: center;
}
.content-post :hover{ 
  text-decoration: none;
}
.title{
  text-decoration: none;
  padding: 20px 10px;
  background-color: rgb(49, 47, 47);
  color: white;
  display: flex;
  text-align: left;
  justify-content: space-between;
}
.image{
  max-height: 100px;
  border-radius: 10px;
}