.nav-bar{
  position: sticky !important;
  width: 100%;
  z-index: 999; 
  top: 0;
}
.footer{
  margin-top: 2rem;
  position: absolute;
  width: 100%;
  padding: 2% 10%;
}
.distance-bottom{
  padding-bottom: 2rem;
}
.distance-top{
  margin-top: 2rem;
}
.my-row{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.min-size-heigth{
  min-height: 60vh !important;
}
.circular-indicator{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
div > .nav-link{
  color: white !important;
}
footer a :hover{
  color: rgb(41, 185, 113);
  text-decoration: none !important;
}
