.nav-bar{
  position: sticky !important;
  width: 100%;
  z-index: 999; 
  top: 0;
}
.footer{
  margin-top: 2rem;
  position: absolute;
  padding: 2% 0;
  width: 100%;
}

.min-vh-100{
  min-height: 100vh;
}

.circular-indicator{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}
footer:hover a:hover{
  color: rgb(41, 185, 113) !important;
  text-decoration: none !important;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');*{
  font-family: 'Noto Sans', sans-serif;
}