div > .nav-link{
  color: white !important;
}

.footer{
  justify-content: space-around;
  padding-top: 2rem;
}
.distance-bottom{
  padding-bottom: 2rem;
}
.distance-top{
  margin-top: 2rem;
}
.my-row{
  display: flex;
  flex-direction: row;
}
.min-size-heigth{
  min-height: 100vh !important;
}

.circular-indicator{
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
}

footer a{
  color: white;
  align-self: center;
  text-decoration: none !important;
}
footer h5 {
  padding-left: 7%;
  color: white;
}
footer a :hover{
  color: white;
  text-decoration: none !important;
}
